<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>12:30</td>  <td>Welcome and intro to reproducible data science</td> </tr>
      <tr> <td>12:45</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html">Getting started with R and RStudio</a></td> </tr>
      <tr> <td>13:15</td>  <td>break</td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/02-project-intro/index.html">Project organization</a></td> </tr>
      <tr> <td>14:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/03-seeking-help/index.html">Seeking help and the R community</a></td> </tr>
      <tr> <td>14:20</td>  <td>break</td> </tr>
      <tr> <td>14:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html">Data structures</a></td> </tr>
      <tr> <td>15:20</td>  <td>break</td> </tr>
	  <tr> <td>15:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/index.html">Working with data frames</a></td></tr>
	  <tr> <td>15:50</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/06-data-subsetting/index.html">Subsetting data</a></td></tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>12:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/07-control-flow/index.html">Control flow</a></td> </tr>
      <tr> <td>13:30</td>  <td>break</td> </tr>
      <tr> <td>13:40</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/index.html">Plotting with ggplot</a></td></tr>
      <tr> <td>14:50</td>  <td>break</td> </tr>
      <tr> <td>15:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/10-functions/index.html">Functions</a></td> </tr>
      <tr> <td>16:00</td>  <td>break</td> </tr>
      <tr> <td>16:10</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/11-writing-data/index.html">Writing data to files</a></td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3: The Tidyverse</h3>
    <table class="table table-striped">
      <tr> <td>12:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/13-dplyr/index.html">Transforming data with dplyr</a></td> </tr>
      <tr> <td>13:20</td>  <td>break</td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/14-tidyr/index.html">Tidy data</a></td> </tr>
      <tr> <td>14:20</td>  <td>break</td> </tr>
      <tr> <td>14:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/index.html">Writing <s>reports</s> everything with RMarkdown</a></td> </tr>
      <tr> <td>15:40</td>  <td>break</td> </tr>
      <tr> <td>15:50</td>  <td>Working a problem with R</td> </tr>
      <tr> <td>16:15</td>  <td>Course wrap up</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
